In [1]:
import warnings
warnings.filterwarnings("ignore")
from sqlalchemy import create_engine
import pandas as pd
import os
import mysql.connector
import matplotlib.pyplot as plt 
import seaborn as sns
import urllib.parse

In [2]:
df= pd.read_csv('20220327 annual-number-of-deaths-by-cause.csv')   #Loading dataset

In [3]:
df.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [4]:
# Function to extract the cause of death with try-except
def extract_cause(col_name):
    try:
        # Try to split the column name and extract the cause of death
        return col_name.split('-')[1].strip()
    except IndexError:
        # If there's an IndexError, return the original column name
        return col_name

# Apply the function to rename columns
new_columns = [extract_cause(col) for col in df.columns]

# Rename the columns in the DataFrame
df.columns = new_columns

# Display the updated DataFrame
df.head()

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Protein,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [5]:
df.shape

(8254, 36)

In [6]:
df1= pd.read_csv("20222703 Causes Of Death Clean Output V2.0.csv") # Loading dataset
df1

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,Meningitis,Deaths - Meningitis - Sex: Both - Age: All Age...,2933.0,Afghanistan,AFG,2007
1,Neoplasms,Deaths - Neoplasms - Sex: Both - Age: All Ages...,15925.0,Afghanistan,AFG,2007
2,"Fire, heat, and hot substances","Deaths - Fire, heat, and hot substances - Sex:...",481.0,Afghanistan,AFG,2007
3,Malaria,Deaths - Malaria - Sex: Both - Age: All Ages (...,393.0,Afghanistan,AFG,2007
4,Drowning,Deaths - Drowning - Sex: Both - Age: All Ages ...,2127.0,Afghanistan,AFG,2007
...,...,...,...,...,...,...
201757,Digestive diseases,Deaths - Digestive diseases - Sex: Both - Age:...,4437.0,Zimbabwe,ZWE,2019
201758,Acute hepatitis,Deaths - Acute hepatitis - Sex: Both - Age: Al...,136.0,Zimbabwe,ZWE,2019
201759,Alzheimer's disease and other dementias,Deaths - Alzheimer's disease and other dementi...,812.0,Zimbabwe,ZWE,2019
201760,Parkinson's disease,Deaths - Parkinson's disease - Sex: Both - Age...,232.0,Zimbabwe,ZWE,2019
201761,Number of executions (Amnesty International),Deaths - Number of executions (Amnesty Interna...,NaN,Zimbabwe,ZWE,2019

In [7]:
df1.pivot(index=['Entity','Year'],columns ='Causes name', values='Death Numbers')

Causes name       Acute hepatitis  Alcohol use disorders  \
Entity      Year
Afghanistan 1990           2985.0                   72.0
            1991           3092.0                   75.0
            1992           3325.0                   80.0
            1993           3601.0                   85.0
            1994           3816.0                   88.0
...                           ...                    ...
Zimbabwe    2015            146.0                   48.0
            2016            146.0                   49.0
            2017            144.0                   50.0
            2018            139.0                   51.0
            2019            136.0                   53.0

Causes name       Alzheimer's disease and other dementias  \
Entity      Year
Afghanistan 1990                                   1116.0
            1991                                   1136.0
            1992                                   1162.0
            1993                                   1187.0
            1994                                   1211.0
...                                                   ...
Zimbabwe    2015                                    754.0
            2016                                    767.0
            2017                                    781.0
            2018                                    795.0
            2019                                    812.0

Causes name       Cardiovascular diseases  Chronic kidney disease  \
Entity      Year
Afghanistan 1990                  44899.0                  3709.0
            1991                  45492.0                  3724.0
            1992                  46557.0                  3776.0
            1993                  47951.0                  3862.0
            1994                  49308.0                  3932.0
...                                   ...                     ...
Zimbabwe    2015                  16649.0                  2108.0
            2016                  16937.0                  2160.0
            2017                  17187.0                  2196.0
            2018                  17460.0                  2240.0
            2019                  17810.0                  2292.0

Causes name       Chronic respiratory diseases  \
Entity      Year
Afghanistan 1990                        5945.0
            1991                        6050.0
            1992                        6223.0
            1993                        6445.0
            1994                        6664.0
...                                        ...
Zimbabwe    2015                        2751.0
            2016                        2788.0
            2017                        2818.0
            2018                        2849.0
            2019                        2891.0

Causes name       Cirrhosis and other chronic liver diseases  \
Entity      Year
Afghanistan 1990                                      2673.0
            1991                                      2728.0
            1992                                      2830.0
            1993                                      2943.0
            1994                                      3027.0
...                                                      ...
Zimbabwe    2015                                      1956.0
            2016                                      1962.0
            2017                                      2007.0
            2018                                      2030.0
            2019                                      2065.0

Causes name       Conflict and terrorism  Diabetes mellitus  \
Entity      Year
Afghanistan 1990                  1490.0             2108.0
            1991                  3370.0             2120.0
            1992                  4344.0             2153.0
            1993                  4096.0             2195.0
            1994                  8959.0             2231.0
...                                  ...                ...
Zimbabwe    2015                    13.0             3176.0
            2016                     6.0             3259.0
            2017                     5.0             3313.0
            2018                     9.0             3381.0
            2019                    11.0             3460.0

Causes name       Diarrheal diseases  ...  Neoplasms  \
Entity      Year                      ...
Afghanistan 1990              4235.0  ...    11580.0
            1991              4927.0  ...    11796.0
            1992              6123.0  ...    12218.0
            1993              8174.0  ...    12634.0
            1994              8215.0  ...    12914.0
...                              ...  ...        ...
Zimbabwe    2015              5102.0  ...    11161.0
            2016              5002.0  ...    11465.0
            2017              4948.0  ...    11744.0
            2018              4745.0  ...    12038.0
            2019              4635.0  ...    12353.0

Causes name       Number of executions (Amnesty International)  \
Entity      Year
Afghanistan 1990                                           NaN
            1991                                           NaN
            1992                                           NaN
            1993                                           NaN
            1994                                           NaN
...                                                        ...
Zimbabwe    2015                                           NaN
            2016                                           NaN
            2017                                           NaN
            2018                                           NaN
            2019                                           NaN

Causes name       Nutritional deficiencies  Parkinson's disease  Poisonings  \
Entity      Year
Afghanistan 1990                    2087.0                371.0       338.0
            1991                    2153.0                374.0       351.0
            1992                    2441.0                378.0       386.0
            1993                    2837.0                384.0       425.0
            1994                    3081.0                391.0       451.0
...                                    ...                  ...         ...
Zimbabwe    2015                    3019.0                215.0       381.0
            2016                    3056.0                219.0       393.0
            2017                    2990.0                223.0       398.0
            2018                    2918.0                227.0       400.0
            2019                    2884.0                232.0       405.0

Causes name       Protein-energy malnutrition  Road injuries  Self-harm  \
Entity      Year
Afghanistan 1990                       2054.0         4154.0      696.0
            1991                       2119.0         4472.0      751.0
            1992                       2404.0         5106.0      855.0
            1993                       2797.0         5681.0      943.0
            1994                       3038.0         6001.0      993.0
...                                       ...            ...        ...
Zimbabwe    2015                       2990.0         2373.0     2235.0
            2016                       3027.0         2436.0     2297.0
            2017                       2962.0         2473.0     2338.0
            2018                       2890.0         2509.0     2372.0
            2019                       2855.0         2554.0     2403.0

Causes name       Terrorism (deaths)  Tuberculosis
Entity      Year
Afghanistan 1990                12.0        4661.0
            1991                68.0        4743.0
            1992                49.0        4976.0
            1993                 NaN        5254.0
            1994                22.0        5470.0
...                              ...           ...
Zimbabwe    2015                 NaN       11214.0
            2016                 NaN       10998.0
            2017                 0.0       10762.0
            2018                 NaN       10545.0
            2019                 NaN       10465.0

[6114 rows x 33 columns]

In [29]:

df1.columns = df1.columns.str.replace(' ', '_')

In [31]:
df.columns = df.columns.str.replace(' ', '_')

### Building connection with mysql

In [32]:

# Define the connection string
username = 'root'
password = 'Kapil@1234567890'
port="3306"
host = 'localhost'
database = 'Cause of deaths'

password = urllib.parse.quote_plus(password)

# Create an engine
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')
conn = engine.connect()
df.to_sql('Death', engine, index=False, if_exists="replace")
df1.to_sql('Death2', engine, index=False, if_exists="replace")
conn.close()

### Q1. Retrieve the total number of deaths caused by "Meningitis" in Afghanistan over all available years.

In [33]:
unique_cities_query1 = """SELECT SUM(Meningitis) FROM Death WHERE Entity = 'Afghanistan'; """
unique_cities_df1 = pd.read_sql_query(unique_cities_query1, engine)

print(unique_cities_df1)

   SUM(Meningitis)
0          78665.0

### Q2.	List the distinct causes of death recorded in Afghanistan for the year 2007.

In [35]:
unique_cities_query2 = """SELECT COUNT(DISTINCT Causes_name) FROM Death2 WHERE Entity = 'Afghanistan' ;"""
unique_cities_df2 = pd.read_sql_query(unique_cities_query2, engine)

print(unique_cities_df2)

   COUNT(DISTINCT Causes_name)
0                           33

### Q3. Find the year with the highest number of deaths due to "Cardiovascular diseases" in Afghanistan

In [38]:
unique_cities_query3 = """SELECT Year,Cardiovascular_diseases FROM Death WHERE Entity = 'Afghanistan' ORDER BY Cardiovascular_diseases DESC LIMIT 1 ;"""
unique_cities_df3 = pd.read_sql_query(unique_cities_query3, engine)

print(unique_cities_df3)

   Year  Cardiovascular_diseases
0  2019                  61995.0

### Q4. Identify the year and cause with the least number of deaths in Afghanistan.

In [44]:
unique_cities_query4 = """SELECT Year,Causes_name,Death_Numbers FROM Death2 WHERE Entity = 'Afghanistan' ORDER BY Death_Numbers LIMIT 1;"""
unique_cities_df4 = pd.read_sql_query(unique_cities_query4, engine)

print(unique_cities_df4)

   Year                                   Causes_name Death_Numbers
0  1992  Number of executions (Amnesty International)          None

### Q5. Count the total number of deaths from "Road injuries" from 1990 to 2000 in Afghanistan.

In [48]:
unique_cities_query5 = """SELECT SUM(Road_injuries) FROM Death WHERE Entity = 'Afghanistan' AND Year BETWEEN 1990 AND 2000;"""
unique_cities_df5 = pd.read_sql_query(unique_cities_query5, engine)

print(unique_cities_df5)

   SUM(Road_injuries)
0             64616.0

### Q6.	Calculate the total deaths caused by "Neoplasms" between 2007 and 2016.

In [50]:
unique_cities_query6 = """SELECT SUM(Neoplasms) FROM Death WHERE Year BETWEEN 2007 AND 2016; """
unique_cities_df6 = pd.read_sql_query(unique_cities_query6, engine)

print(unique_cities_df6)

      Year  Neoplasms
0     2007    15925.0
1     2008    16148.0
2     2009    16383.0
3     2011    17094.0
4     2012    17522.0
...    ...        ...
2747  2012    10454.0
2748  2013    10574.0
2749  2014    10857.0
2750  2015    11161.0
2751  2016    11465.0

[2752 rows x 2 columns]

### Q7.	Determine the average number of deaths due to "Diarrheal diseases" over all years.

In [52]:
unique_cities_query7 = """SELECT AVG(Diarrheal_diseases) FROM Death; """
unique_cities_df7 = pd.read_sql_query(unique_cities_query7, engine)

print(unique_cities_df7)

   AVG(Diarrheal_diseases)
0              81460.83608

### Q8.	Group the data by cause and calculate the average deaths for each cause.

In [54]:
unique_cities_query8 = """SELECT Causes_name,AVG(Death_numbers) FROM Death2 GROUP BY Causes_name ORDER BY AVG(Death_numbers) DESC; """
unique_cities_df8 = pd.read_sql_query(unique_cities_query8, engine)

print(unique_cities_df8)

                                     Causes_name  AVG(Death_numbers)
0                        Cardiovascular diseases        82637.551650
1                                      Neoplasms        43982.250990
2                   Chronic respiratory diseases        18860.041914
3                   Lower respiratory infections        15074.540429
4                             Neonatal disorders        13336.267657
5                             Digestive diseases        12301.594884
6                             Diarrheal diseases        11180.807921
7                                   Tuberculosis         7669.222772
8     Cirrhosis and other chronic liver diseases         6965.382343
9                                  Road injuries         6756.945875
10                             Diabetes mellitus         6241.252475
11                                      HIV/AIDS         6137.768152
12       Alzheimer's disease and other dementias         5926.832508
13                        Chronic kidney disease         5726.654455
14                                     Self-harm         4303.881023
15                                       Malaria         4044.763036
16                        Interpersonal violence         2879.163036
17                      Nutritional deficiencies         2467.959736
18                   Protein-energy malnutrition         2161.739109
19                                      Drowning         1820.171452
20                                    Meningitis         1781.168812
21                           Parkinson's disease         1394.776568
22                            Maternal disorders         1320.056271
23                         Alcohol use disorders          943.201650
24                Fire, heat, and hot substances          648.193234
25                               Acute hepatitis          629.220132
26                            Drug use disorders          584.955941
27                        Conflict and terrorism          552.761056
28                                    Poisonings          446.622607
29          Environmental heat and cold exposure          305.880363
30                  Exposure to forces of nature          299.914851
31                            Terrorism (deaths)          135.755556
32  Number of executions (Amnesty International)           33.795833

### Q9.	Find the sum of deaths due to "Lower respiratory infections" for each year and list them in descending order.

In [56]:
unique_cities_query9 = """SELECT Year,SUM(Lower_respiratory_infections) FROM Death GROUP BY Year ORDER BY SUM(Lower_respiratory_infections) DESC; """
unique_cities_df9 = pd.read_sql_query(unique_cities_query9, engine)

print(unique_cities_df9)

    Year  SUM(Lower_respiratory_infections)
0   1990                         32785604.0
1   1991                         32464492.0
2   1992                         32251001.0
3   1993                         31974430.0
4   1994                         31607981.0
5   1995                         31267208.0
6   1996                         30732673.0
7   1997                         30336134.0
8   1998                         29889059.0
9   1999                         29426226.0
10  2000                         28882944.0
11  2001                         28219036.0
12  2002                         27817596.0
13  2003                         27406857.0
14  2004                         26912235.0
15  2005                         26728929.0
16  2006                         26423398.0
17  2007                         26145679.0
18  2008                         26005944.0
19  2009                         25689745.0
20  2010                         25442371.0
21  2013                         25408305.0
22  2015                         25401518.0
23  2014                         25369837.0
24  2012                         25287256.0
25  2011                         25280999.0
26  2016                         25240965.0
27  2019                         25041269.0
28  2018                         24974134.0
29  2017                         24965675.0




### Q10.	For each year, find the cause that had the highest number of deaths.

In [61]:
unique_cities_query10 = """SELECT Year,SUM(Death_numbers),DENSE_RAN() OVER(PARTITION BY Year ORDER BY )  FROM Death2 GROUP BY Year,Causes_name ORDER BY YEAR,SUM(Death_numbers) DESC; """
unique_cities_df10 = pd.read_sql_query(unique_cities_query10, engine)

print(unique_cities_df10)

     Year  SUM(Death_numbers)
0    1990          13688659.0
1    1990           6695640.0
2    1990           3575084.0
3    1990           3303539.0
4    1990           3212596.0
..    ...                 ...
985  2019             62954.0
986  2019             49518.0
987  2019              6440.0
988  2019                 NaN
989  2019                 NaN

[990 rows x 2 columns]